.quiz {
  border: 10px solid #177629;
  padding: 50px;
  margin: 20px;
}
input[type="submit"],
input[type="reset"] {
  width: 40%;
  background-color: #46b783;
  border: 1px solid black;
}
.operation {
  width: 10%;
  background-color: #b2eed2;
  border: 1px solid black;
}

span {
  color: red;
}

.echec {
  color: blue;
}
